body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #e8e6df;
}

ul {
  width: 60%;
  margin: 40px auto;
  padding: 0;
  list-style-type: square;
  list-style-position: inside;
  background: #f5f5f5;

  border: 1px solid rgba(0, 0, 0, 0.3);  /* 30% opacity border */
}

li {
  padding: 20px 25px;
  border-bottom: 1px solid #dcdcdc;
  font-size: 18px;
}

li:last-child {
  border-bottom: none;
}
